input[type="file"] {
    visibility: hidden;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.image-preview {
    width: 20rem;
    margin: 0;

    img {
        width: 100%;
    }

    .error-message {
        color: rgb(211, 21, 21);
        font-size: medium;
    }

}

mat-dialog-content {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
}