<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Member</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"><link rel="stylesheet" href="member.component.scss">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="empty-icon-container">
      <div class="animation-container">
        <div class="bounce"></div>
        <div class="pebble1"></div>
        <div class="pebble2"></div>
        <div class="pebble3"></div>
      </div>
      <div>
        <h2>0 results found</h2>
        <p>Sorry! We couldn't find any results.</p>
      </div>

    </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="member.js"></script>

</body>
</html>
